sycret
syft @ git+https://github.com/OpenMined/PySyft@sympc-dev#egg=syft&subdirectory=packages/syft
torch>=1.6,<=1.8.1
torchcsprng<=0.2.1
loguru>=0.6.0 # not directly required, pinned by Snyk to avoid a vulnerability
protobuf>=3.19.5 # not directly required, pinned by Snyk to avoid a vulnerability
pyjwt>=2.4.0 # not directly required, pinned by Snyk to avoid a vulnerability
setuptools>=65.5.1 # not directly required, pinned by Snyk to avoid a vulnerability
